@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(188, 236, 188),rgb(235, 241, 188));
    width: 80vmin;
    height: 90vmin;
    left : 20px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background:linear-gradient(purple,yellow) ;
    border: .25vmin white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid black;
    border-radius: 8px;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}

#hiscoreBox{
    position: absolute;
    top: 50px;
    right: 70px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}